[submodule "aion-reactor"]
	path = aion-reactor
	url = git@github.com:Ike-l/aion-reactor.git

[submodule "aion-utilities"]
	path = aion-utilities
	url = git@github.com:Ike-l/aion-utilities.git

[submodule "aion-state"]
	path = aion-state
	url = git@github.com:Ike-l/aion-state.git
	
[submodule "aion-event"]
	path = aion-event
	url = git@github.com:Ike-l/aion-event.git
