[submodule "aion-reactor"]
	path = aion-reactor
	url = git@github.com:Ike-l/aion-reactor.git

[submodule "aion-utilities"]
	path = aion-utilities
	url = git@github.com:Ike-l/aion-utilities.git

[submodule "aion-state"]
	path = aion-state
	url = git@github.com:Ike-l/aion-state.git
	
[submodule "aion-event"]
	path = aion-event
	url = git@github.com:Ike-l/aion-event.git
[submodule "aion-processor"]
	path = aion-processor
	url = git@github.com:Ike-l/aion-processor.git
[submodule "aion-program"]
	path = aion-program
	url = git@github.com:Ike-l/aion-program.git
[submodule "execution_graph"]
	path = execution_graph
	url = git@github.com:Ike-l/execution_graph.git
[submodule "aion-system"]
	path = aion-system
	url = https://github.com/Ike-l/aion-system.git
[submodule "aion-event-systems/aion-event-mapper"]
	path = aion-event-systems/aion-event-mapper
	url = git@github.com:Ike-l/aion-event-mapper.git
[submodule "aion-event-systems/aion-event-clock"]
	path = aion-event-systems/aion-event-clock
	url = git@github.com:Ike-l/aion-event-clock.git
[submodule "aion-event-conditional/aion-event-conditional"]
	path = aion-event-conditional/aion-event-conditional
	url = git@github.com:Ike-l/aion-event-clock.git
[submodule "aion-event-systems/aion-event-conditional"]
	path = aion-event-systems/aion-event-conditional
	url = git@github.com:Ike-l/aion-event-conditional.git
[submodule "aion-event-systems/aion-event-executable"]
	path = aion-event-systems/aion-event-executable
	url = git@github.com:Ike-l/aion-event-executable.git
[submodule "aion-event-systems/aion-event-temporal"]
	path = aion-event-systems/aion-event-temporal
	url = git@github.com:Ike-l/aion-event-temporal.git
